
<div class="bg1">

    <div class="container">
      <div class="row">
        <div class="form-group col-lg-5">
          <div class="create_account">
            <%= render "items/errorflash" %> 
            <h1>Please Edit your account</h1>
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
</div>
