
<div class="bg1">
    <div class="container">
      <div class="row">
        <div class="form-group col-lg-5">
          <div class="create_account">
            <h1>Please create an account</h1>
            <%= render "form" %>
          </div>
        </div>

          <div class="col-lg-6 login">
              <h1>Already have an account?</h1><br>
              <a class="btn btn-primary" href="/login" role="button">Login here</a>
              <%= render "items/errorflash" %>
          </div>
      </div>
    </div>
</div>
