
<!-- Display user profile if buyer display bought items -->
<% if seller_check = true %>
<div class="container">

  <div class="profile_info">
    <img class="profpic" src="/IMG2.jpg" alt="">
    <h2> <%= @user.name %></h2>
    <h2> <%= @user.email %></h2>
    <h2> <%= @user.location.name %></h2>
  </div>

    <div class="row">
      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

<% else %> <!--  Buyer check instead -->

  <div class="row">

    <div class="card right" style="width: 30%;">
      <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card right" style="width: 30%;">
      <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card" style="width: 30%;">
      <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
<% end %>

<div class="BREAK"></div>
