
<!-- Display user profile if buyer display bought items -->
<% if seller_check = true %>
  <h1> Seller stuff</h1>
<% else %>
  <h1> Buyer stuff</h1>
<% end %>

<!-- <h1><%= @user.name %></h1>
<h3><%= @user.location.name %></h3>
<h3><%= @user.email %></h3> -->
<!-- if seller display available and rented items -->
