<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Escape Outdoors</title>
  </head>
  <body>



    <div id="big-container">

      <video autoplay="" loop="" muted="" poster="">
        <source src="/mnt.mp4" type="video/mp4">
      </video>

    </div>

    <!-- <img src="/WOODS.jpg" class="img-fluid" alt="Responsive image"> -->

    <!-- <div class="HOME_TITLE box2">
        <div>
          Escape Outdoors
        </div>
    </div> -->
<!--
    <a href="#arrow" class="arrow">
      <img src="/arrow.png" class="blink-image"></img>
    </a> -->

    <div id="arrow" class="test_div">
      <a href="/items/available">View all Rentals</a>
    </div>

    <% if !logged_in? %>
    <div id="arrow" class="test_div">
      <a href="users/new">Rent your equipment</a>
    </div>
    <% else %>
    <div id="arrow" class="test_div">
      <a href="/seller">Rent your equipment</a>
    </div>
    <% end %>

  </body>
</html>
