<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Escape Outdoors</title>
  </head>
  <body>


  <div id="Container1">
    <video autoplay="" loop="" muted="" poster="">
      <source src="/mnt.mp4" type="video/mp4">
    </video>
    <div class="HOME_TITLE">
          <strong>Escape Outdoors</strong>
    </div>
    <a href="#arrow" class="arrow">
      <img src="/arrow.png" class="blink-image"></img>
    </a>
  </div>


  <div class="link_space">
  </div>


<div class="container">
  <div class="rig">
        <a id="arrow" href="/items/available">
            <li class="rig-cell">
              <img class="rig-img" src='/IMG1.jpg'>
              <span id="FILM1" class="rig-overlay"></span>
              <span class="rig-text1">View all rentals</span>
            </li>
        </a>
        
        <% if !logged_in? %>
          <a href="users/new">
            <li class="rig-cell1">
              <img class="rig-img" src='/IMG2.jpg'>
              <span id="DIGITAL1" class="rig-overlay"></span>
              <span class="rig-text">Rent your equipment</span>
            </li>
          </a>
        <% else %>
          <a href="/items/new" class="rentals1">
            <li class="rig-cell1">
              <img class="rig-img" src='/IMG2.jpg'>
              <span id="DIGITAL1" class="rig-overlay"></span>
              <span class="rig-text">Rent your equipment</span>
            </li>
          </a>
        <% end %>

    </div>
</div>


    <!-- <div class="container">

        <a id="arrow" href="/items/available" class="rentals">
          <div >
              View all rentals
          </div>
          <img src="/IMG1.jpg" class="rounded test" alt="...">
        </a> -->
<!--
        <% if !logged_in? %>
            <a href="users/new" class="rentals1">
              <div >
                  Rent your equipment
              </div>
              <img src="/IMG2.jpg" class="rounded test" alt="...">

            </a>
        <% else %>
          <a href="/items/new" class="rentals1">
            <div>
                Rent your equipment
            </div>
            <img src="/IMG2.jpg" class="rounded test" alt="...">
          </a>
        <% end %>
    </div> -->


    <footer>
      <!-- <div> 2018 <span>/</span> Escape Outdoors &copy;</div> -->
    </footer>

  </body>
</html>
