<div class="bg1">
  <div class="container">
    <% if !@reservations.empty?  %>
      <% @reservations.each do |res| %>
        <h3> Rent dates: </h3>
        <%= res.format_rent_start %> - <%= res.format_rent_end %>
        <h3> Renter: </h3>
        <%= res.buyer.username %> <%= link_to "(#{res.buyer.reviews.size})", user_reviews_path(res.buyer.id) %>
      <% end  %>
    <% else %>
      <h2>No one has reserved your item!</h2>
    <% end  %>
  </div>
</div>
