<% @items.each do |item|%>
<%= link_to item.name, item_path(item.id) %>
<%= item.description %>
<% end %>


<!-- Display user profile if buyer display bought items -->
<div class="container">
    <div class="row">
      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card right" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/IMG1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>
