<html>
  <head>
    <meta charset="utf-8">
    <title>Escape Outdoors</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Escape Outdoors</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Sign In</a>
          <a class="nav-item nav-link" href="/users/new">Create Account</a>
        </div>
      </div>
    </nav>

    <img src="/WOODS.jpg" class="img-fluid" alt="Responsive image">

    <div class="HOME_TITLE box2">
        <div>
          Escape Outdoors
        </div>
    </div>

    <a href="#arrow" class="arrow">
      <img src="/arrow.png" class="blink-image"></img>
    </a>


    <div id="arrow" class="test_div">
      TEST
    </div>



      <footer>
        
      </footer>


  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  </body>
</html>
