<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Escape Outdoors</title>
  </head>
  <body>






    <img src="/WOODS.jpg" class="img-fluid" alt="Responsive image">

    <div class="HOME_TITLE box2">
        <div>
          Escape Outdoors
        </div>
    </div>

    <a href="#arrow" class="arrow">
      <img src="/arrow.png" class="blink-image"></img>
    </a>


    <div id="arrow" class="test_div">
      TEST
    </div>



      <footer>

      </footer>


  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  </body>
</html>
