// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 50px;
}

.profile_info {
  text-align: left;
  margin-bottom: 90px;
}

.profpic {
  border-radius: 50%;
	height: 200px;
	width: 200px;
  margin-bottom: 30px;

}


.right {
  margin-right: 56px;
}

.BREAK {
  height: 300px;
}

.login {
  float: right;
}
